body {
    margin: 0%;
    background: #303030;
    color: white;
}
.img {
    margin: auto;
    display: block;
    height: 20px;
}
.upper-box{
    background: rgba(3, 3, 49, 0.795);
    padding: 20px;
}
.body {
    margin: 20px auto;
    width: 900px;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
}
.control {
    margin: 20px;
    width: 100px;
    background: white;
    color: black;
    border-radius: 5px;
    text-align: center;
}